<?xml version="1.0"?>
<config>
    <modules>
        <Stuntcoders_CustomerGroupTheme>
            <version>0.1.0</version>
        </Stuntcoders_CustomerGroupTheme>
    </modules>
    <global>
        <models>
            <stuntcoders_customergrouptheme>
                <class>Stuntcoders_CustomerGroupTheme_Model</class>
                <resourceModel>stuntcoders_customergrouptheme_resource</resourceModel>
            </stuntcoders_customergrouptheme>
            <stuntcoders_customergrouptheme_resource>
                <class>Stuntcoders_CustomerGroupTheme_Model_Resource</class>
            </stuntcoders_customergrouptheme_resource>
        </models>
        <blocks>
            <stuntcoders_customergrouptheme>
                <class>Stuntcoders_CustomerGroupTheme_Block</class>
            </stuntcoders_customergrouptheme>
        </blocks>
        <helpers>
            <stuntcoders_customergrouptheme>
                <class>Stuntcoders_CustomerGroupTheme_Helper</class>
            </stuntcoders_customergrouptheme>
        </helpers>
    </global>
    <frontend>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <customer_group_handle>
                        <class>stuntcoders_customergrouptheme/observer</class>
                        <method>setTheme</method>
                    </customer_group_handle>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </frontend>
</config>
